<div id="about">
  <div class="row outer" id="one">
    <div class="large-4 columns outer">
      <div class="inner">
        <div class="card-wrapper">
          <div class="card-container" id="vcard-container">
            <div class="card">
              <div class="front">
                <div class="cover">
                </div>

                <div class="user">
                  <img class="img-circle" src="/assets/vcard.jpg"/>
                </div>
                <div class="content">
                  <div class="main">
                    <h3 class="name">Alex Scott</h3>
                    <p class="profession">Rails & jQuery<br />Developer</p>
                    <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Merseyside, England</h5>
                    <h5><i class="fa fa-building-o fa-fw text-muted"></i> ALXS Design </h5>
                    <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> alex@alxs.co.uk</h5>
                  </div>
                  <div class="footer">
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
              </div> <!-- end front panel -->
              <div class="back">
                <div class="header">
                <h5 class="motto">Ruby on Rails for the win...</h5>
                </div> 
                <div class="content">
                  <div class="main">
                    <h4 class="text-center">Experince</h4>
                    <p>Created numerous website, plugins and projects that can be found in the portfolio section</p><br />
                    <h4 class="text-center">Areas of Expertise</h4>
                    <p>Ruby on Rails, HTML5/CSS3, jQuery, Responsive Design and more...</p>
                  </div><br />
                </div>
                <div class="footer">
                  <div class="social-links text-center">
                  </div>
                </div>
              </div> <!-- end back panel -->
            </div> <!-- end card -->
          </div> <!-- end card-container -->
        </div>
      </div>
    </div>
    <div class="large-8 columns outer">
      <div class="inner">
        <div class="row">
          <div class="large-10 large-offset-1 medium-10 medium-offset-1 small-10 small-offset-1 columns center">
            <h1 class="size-center">About Me</h1>
             <hr />
             <p>ALXS Design is the company name for myself, Alex Scott. I am based in Wirral, Merseyside and specialise in providing low-priced websites tailored for each of my clients, including after-sales support with our packages if this is needed.</p><br />
             <p>I'm all about offering a more personal service than most other companies and beleive that communication with the client is critical to providing the highest quality of service. I like to try and include the client in the whole process as much as I can, making sure absolutely everything is perfect before the site goes live.</p><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

