<div id="home">

  <div class="row outer" id="one">
    <div class="read-less one">
      <a href="#" id="read-less-one"><br />The Beginning</a>
    </div>
    <div class="inner">
            <span class="alxs-icon">A</span>
            <h1>ALXS DESIGN</h1>
    </div>
    <div class="read-more one">
      <a href="#" id="read-more-one">Read More<br /><span class="fa fa-angle-double-down" alt="Menu Toggle"></span></a>
    </div>
  </div>


  <div class="row outer" id="two">
    <div class="read-less two">
      <a href="#" id="read-less-one"><span class="fa fa-angle-double-up" alt="Back Up"></span><br />Back Up</a>
    </div>
    <div class="inner">
      <div class="row">
        <div class="jumbo-pad large-6 large-offset-3 medium-10 medium-offset-1 columns">
          <h1>Design</h1>
          <hr />
          <p>By designing your site with the target audience in mind, it's sure to keep all visitors engaged. This also helps gain viewers and increases exposure through social networking.</p><br />
          <p>I like to keep things simple, so your clients can find what they need, when they need it.</p><br />
          <p>During the design phase of each project, I like to implement the latest in SEO techniques, to boost your site up the search engine results.</p>
          <hr />
        </div>
      </div>
    </div>

    <div class="read-more two">
      <a href="#" id="read-more-two">And More<br /><span class="fa fa-angle-double-down" alt="Read More"></span></a>
    </div>
  </div>
  
  <div class="row outer" id="three">
    <div class="read-less three">
      <a href="#" id="read-less-two"><span class="fa fa-angle-double-up" alt="Back Up"></span><br />Back Up</a>
    </div>
    <div class="inner">
        <div class="row">
          <div class="jumbo-pad large-6 large-offset-3 medium-10 medium-offset-1 columns">
            <h2>Develop</h2>
              <hr />
              <p>Each site is developed using a mobile-first strategy, meaning your site is as equally accesible to mobile devices as it is to desktop PC users.</p><br />
              <p>To do this, I utilise some of the best responsive design skills, making sure that each site is fully compliant with the latest in web standards.</p><br />
              <p>I also develop each site to be screen-reader friendly, to aid site vistiors with visual imparements.</p>
              <hr />
          </div>
        </div>
      </div>

    <div class="read-more three">
      <a href="#" id="read-more-three">And More<br /><span class="fa fa-angle-double-down" alt="And More"></span></a>
    </div>
  </div>


  <div class="row outer" id="four">
    <div class="read-less four">
      <a href="#" id="read-less-three"><span class="fa fa-angle-double-up" alt="Back Up"></span><br />Back Up</a>
    </div>
    <div class="inner">
      <div class="row">
        <div class="jumbo-pad large-6 large-offset-3 medium-10 medium-offset-1 columns">
          <h2>Deploy</h2>
          <hr />
          <p>Once your site has been designed, developed and tested, I will deploy it to one of my own servers, setup specifically for the website in question.</p><br />
          <p>Each server is monitored around the clock, to prevent site downtime and lost visitors/customers.</p><br />
          <p>I optimise each sites conifguration during the deployment phase, to ensure fast page-loading times for your site.</p>
          <hr />
        </div>
      </div>
    </div>
    <div class="read-more four">
      <a href="#" id="read-more-four">The End</a>
    </div>
  </div>
</div>
