<div id="home">
  <div class="row outer" id="one">
    <div class="inner">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2380.149807693117!2d-3.0190942!3d53.376369!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487b273fb6f18887%3A0x8fbd7fb8abf81dac!2s15+Mossley+Rd!5e0!3m2!1sen!2suk!4v1428340852984" width="100%" height="650" frameborder="0" style="border:0" class="autoMargin"></iframe>    </div>
  </div>
</div><div class="row outer">
<div class="inner">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2380.149807693117!2d-3.0190942!3d53.376369!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487b273fb6f18887%3A0x8fbd7fb8abf81dac!2s15+Mossley+Rd!5e0!3m2!1sen!2suk!4v1428340852984" width="100%" height="650" frameborder="0" style="border:0" class="autoMargin"></iframe>
</div>
</div>

