<% provide(:title, "ALXS Design | Edit Article") %>
<% provide(:ogdescription, "ALXS Design | Edit Article form.") %>
<% provide(:path, "articles/new") %>
<div id="article">
  <div class="row outer" id="one">
    <div id="blogHeader">
          <h1><span class="alxs-icon">A</span>&nbsp;&nbsp; Edit Article</h1>
          <hr />
    </div>
    <div class="large-8 large-offset-2 medium-10 medium-offset-1 small-10 small-offset-1 columns outer center">
      <%= render 'form' %>
    </div>
  </div>
</div>
