      <!-- Page Content -->
<div id="content-wrapper">
  <div class="">

    <div class="row">
      <div class="large-12 columns">
        <h1>Sidebar Navigation 
        <div style="float: right;">
        <iframe src="http://ghbtns.com/github-btn.html?user=tipsforthings&repo=foundation-sidebar-nav&type=watch&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="120" height="30"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=tipsforthings&repo=foundation-sidebar-nav&type=fork&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="120" height="30"></iframe>
  </div>
  </h1>
        <h3>by Alex Scott</h3>
      </div>
    </div>
  
    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
          
          <p>The sidebar navigation templates main feature that makes it stand out from the crowd, is the nice column of icons when it's in 'small mode'. I find this somewhat helps with navigation. You should try viewing this on mobile, or resizing your browser, if you haven't already.</p>

      	</div>
      </div>
    </div>
    <div class="row center">
      <div class="large-12 medium-12 columns">
      <div class="center">
      
  <a href="https://github.com/tipsforthings/foundation-sidebar-nav/archive/master.zip" class="button radius">Download</a>

      </div>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
      <div class="center equal social">
        <a href="https://www.facebook.com/alxsdesign" target="_blank"><i class="fa fa-facebook"></i></a><br />
        <a href="https://www.facebook.com/alxsdesign" target="_blank">Facebook</a>
      </div>
      </div>
      <div class="large-4 columns">
      <div class="center equal social">
        <a href="https://github.com/tipsforthings" target="_blank"><i class="fa fa-github"></i></a><br />
        <a href="https://github.com/tipsforthings" target="_blank">Github</a>
      </div>  
      </div>
      <div class="large-4 columns">
      <div class="center equal social">
        <a href="https://twitter.com/alxsdesign" target="_blank"><i class="fa fa-twitter"></i></a><br />
        <a href="https://twitter.com/alxsdesign" target="_blank">Twitter</a>
      </div>
      </div>
    </div>

    <div class="row" data-equalizer>
      <div class="large-12 columns">
      	<div class="">
          <div class="row center">
            <div class="large-4 columns" data-equalizer-watch>
      		    <div class="panel equal">
      		    <h3>Features</h3>
          		<p>
          		  The template features a sliding, off-canvas sidebar, with a column of icons when the menu is in 'small'mode. I've already included the Foundation Icons set, as these are used by the sidebar.
          		</p>
          		<p>
      		      If you have a suggestion for improvement, please submit a pull request on Github or contact me.
      		    </p>
      		    </div>
          	</div>
          	<div class="large-4 columns" data-equalizer-watch>
              <div class="panel equal">
              <h3>Customise</h3>
          		<p>
          		  There's only 250 lines of CSS complementing Foundation, so it should be easy to find your way around.
          		  The ALXS Sidebar navigation template is ideal for beginner web designers or developers, who are looking for a nice template to get them started, or for someon just learning about mobile-first and responsive web design.
          		</p>
          		</div>
          	</div>     
          	<div class="large-4 columns" data-equalizer-watch>
          		<div class="panel equal">
          		<h3>Contact</h3>
          		<p>
          		If you would like to contact me for help with this template, feedback, suggestions or anything else, the please feel free to email me at <a href="mailto:support@alxs.co.uk">support@alxs.co.uk</a>. I'll be more than willing to answer any questions you have or hear your comments and suggestions.
          	
          		</p>
          		</div>
          	</div>  
				  </div>
      	</div>
      </div>
    </div>

      
    <hr />
  </div>
</div>
