<div id="content-wrapper">
  <div class="row">
    <div class="large-12 columns">
      <h1>Column Navigation by Alex Scott</h1>
        <div style="position: fixed; top: 10px; right: 10px;">
          <iframe src="http://ghbtns.com/github-btn.html?user=tipsforthings&repo=column-nav&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="120" height="30"></iframe>
          <iframe src="http://ghbtns.com/github-btn.html?user=tipsforthings&repo=column-nav&type=fork&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="120" height="30"></iframe>
        </div>
    </div>
  </div>
</div>
