<% provide(:title, "Projects") %>
    <div class="row">
      <div class="large-12 columns">
        <div class="project" id="novus">
          <div class="jumbo project-jumbo novus-jumbo">
            <div class="jumbo-pad">
                  <%= image_tag 'novusmusic.png' %>
              <div class="text">
                <div class="buttons">
                  <a href="http://novusmusic.uk" class="button round btn-novus">Visit Site</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

