/* Content Styles */
#contact-form {
  padding: 10px;
}
#content-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  padding: 0px;
  overflow: auto;
}  
#content-wrapper.toggled {
  left: 250px !important;
}
@media (max-width:768px) {
  #content-wrapper {
    left: 30px;
  }
}
#home {
  overflow-x: hidden;
  .row {
    display: table;
    text-align: center;
    margin: 2rem 1rem;
    .inner {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      max-height: 90%;
      overflow: auto;    
    }
  }
  .row.outer {
    max-width: 100%;
    overflow: scroll;
  }
}
.read-more {
  height: 3rem;
  line-height: 1.5rem;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
  z-index: 0;
}
.read-less {
  height: 3rem;
  line-height: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
  z-index: 0;
}
/* Per-page Styling */
.hidden {
  display: none;
}
.alxs-icon {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 1px solid #732C7B;
  width: 20vw;
  height: 20vw;
  font-size: 14vw;
  line-height: 20vw;
  display: block;
  font-weight: 500;
  text-align: center;
  cursor: default;
  border-radius: 15px;
  color: #732C7B;
  background-color: rgba(0,0,0,0.4);
  text-shadow: 0.5px 0.5px 3px #565656;
  font-face: "Roboto", Arial;
  font-weight: bolder;
  box-shadow: 0px 0px 5px #732C7B !important;
}  
.project-jumbo {
  min-height: 1px !important;
}
.project#novus {
  background-size: cover;
  border-radius: 0px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top left;
  padding-bottom: 0px;
}
.project {
  border-radius: 0px;
  border: 1px solid #732C7B;
  margin-top: 1vh;
  margin-bottom: 1vh;
  box-shadow: 0px 0px 3px #732C7B !important;
}
.project .button {
  font-weight: bold;
	color: rgba(0,0,0,1.0);

  background-color: #732C7B;
border: 1px solid #000;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin: 0px;
}
.project .button:hover,
.project .button:focus,
.project .button:active {
  background-color: rgba(0,0,0,1.0);
	color: #732C7B;
	border: 1px solid #732C7B;
}
.project .text {
overflow: hidden;
color: #FFF;
font: 400 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0 10px 0 0;
line-height: 42px;
position: absolute;
bottom: 1vmax;
right: 1vmax;
}
.inner .img50 {
  max-width: 50%;
}
.inner.image {
  width: auto !important;
  text-align: left;
}
.project h1 {
background-color: rgba(0,0,0,0.7);
color: #BBB;
font: bolder 3.0vw "Roboto", Arial;
text-transform: uppercase;
text-align: right;
text-shadow: #732C7B 2px 2px 5px;
/* background: image-url("transparent_black.png") repeat left top; */
display: inline-block;
padding: 10px 15px;
margin: 0 !important;
}
/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
input {
  margin: 0 !important;
}
span.error, small.error {
    background-color: rgba(0,0,0,0.6);
    font: "Roboto", Arial;
    text-shadow: #732C7B 2px 2px 5px;
    /* background: image-url("transparent_black.png") repeat left top; */
    display: inline-block;
    padding: 5px 10px;
    display: block;
    padding: 0.150rem 0.3rem 0.3rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-weight: normal;
    font-style: italic;
    color: #FFF;
    font-size: 1rem;
}
#contact-form {
.button {
  border: 1px solid #732C7B;
  color: #732C7B;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}
.button:active,
.button:hover {
  border: 1px solid #FFF;
  color: #FFF;
  background-color: #732C7B;
}
}
.autoMargin {
  margin: auto;
}
.card-wrapper {
  text-align: center;
  margin: 0 1rem;
  width: 90%;
  min-width: 250px;
  .card-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}
.bio {
  float: left;
}
.card {
  .front,
  .back {
  border: 1px solid #732C7B;
  box-shadow: 0px 1px 3px 0px #732C7B;
  }
  .header {
    height: 60px;
    .motto {
      border-bottom: 1px solid #732C7B;
      color: #999;
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 10px;
      text-align: center;
    }
  }
  .footer {
    border-top: 1px solid #732C7B;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
  }
}
#about {
  .outer {
    display: table;
    .inner {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}
.portfolio-wrapper {
  h3 {
    hr {
      width: auto;
      margin: 0.5rem 1.5rem 1.5rem 1.5rem;
    }
  }
  padding: 1.5rem;
  .projectWrapper {
    a:focus {
      color: #732C7B;
    }
    a:active, a:hover {
      color: #0078A0;
    }
    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    border-radius: 11px;
    border: 1px solid #732C7B;
    margin-bottom: 1.5rem;
    padding: 0px;
    box-shadow: 0px 0px 3px #732C7B !important;
    .panel {
      margin-bottom: 0px;
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
    }
  }
}

.ribbon-wrapper-green {
width: 85px;
height: 88px;
overflow: hidden;
position: absolute;
top: -5px;
right: 0.8rem;
}
 
.ribbon-green {
font: bold 15px Sans-Serif;
color: #FFF;
text-align: center;
text-shadow: #732C7B 0px 1px 0px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
position: relative;
padding: 7px 0;
left: -5px;
top: 15px;
width: 120px;
background: #732C7B; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NiNjBiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2MxNDZhMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2E4MDA3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYjM2YTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,96,179,1)), color-stop(50%,rgba(193,70,161,1)), color-stop(51%,rgba(168,0,119,1)), color-stop(100%,rgba(219,54,164,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 51%,rgba(219,54,164,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 51%,rgba(219,54,164,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 51%,rgba(219,54,164,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 51%,rgba(219,54,164,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-8 */
-webkit-box-shadow: 0px 0px 3px #732C7B;
-moz-box-shadow: 0px 0px 3px #732C7B;
box-shadow: 0px 0px 3px  #732C7B;
box-shadow:3px 1px 2px 0px #732C7B;
}
 
.ribbon-green:before, .ribbon-green:after {
content: "";
border-top: 3px solid #732C7B;
border-left: 3px solid transparent;
border-right: 3px solid transparent;
position:absolute;
bottom: -3px;
}
 
.ribbon-green:before {
left: 0;
}
.ribbon-green:after {
right: 0;
} 
