* {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  line-height: inherit;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
  font-size: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Ubuntu", "Segoe UI", Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background-color: #FFF;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
  height: 100%;
  overflow-y: scroll;
}
#wrapper {
  padding-left: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 2.8125rem;
}
#wrapper.toggled {
  padding-left: 250px;
}
@media (min-width:768px) {
  #wrapper {
    padding-left: 250px;
    margin-top: -2.8125rem;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
}

/* Tab Bar */

.tab-bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: #000;
  color: #999;
  -webkit-backface-visibility: hidden;
  height: 2.8125rem;
  line-height: 2.8125rem;
}
.tab-bar h1, 
.tab-bar h2, 
.tab-bar h3, 
.tab-bar h4, 
.tab-bar h5, 
.tab-bar h6 {
  color: #999;
  font-size: 1.125rem;
  font-weight: bold;
}
.tab-bar .fi {
  text-indent: 2.1875rem;
  width: 2.8125rem;
  height: 2.8125rem;
  display: block;
  padding: 0;
  color: white;
  position: relative;
  transform: translate3d(0, 0, 0);
}
.tab-bar .menu-icon {
  border-right: solid 1px #565656;
}
.tab-bar, .tab-bar .menu-icon {
  background: #000000;
  color: #999999;
}
.tab-bar .menu-icon span::after {
  box-shadow: 0 0px 0 1px #999, 0 7px 0 1px #999, 0 14px 0 1px #999;
}

@media (min-width:768px) {
  .tab-bar {
    visibility: hidden;
  }
}

/* Sidebar */

#sidebar-wrapper {
  z-index: 1;
  position: fixed;
  left: 250px;
  width: 300px;
  height: 100%;
  margin-left: -520px;
  overflow: hidden;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a span {
  display: block;
  text-decoration: none;
  color: #999999;
  float: right;
  padding-right: 10px;
  line-height: 40px;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li a:active span,
.sidebar-nav li a:focus span {
  text-decoration: none;
}
.sidebar-nav li a:hover span {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#sidebar-wrapper.toggled {
  margin-left: -250px;
  z-index: 1000;
}
#sidebar-wrapper.toggled .sidebar-nav li a:hover span {
  text-decoration: none;
  color: #fff;
  background: transparent;
}
@media (min-width:768px) {
  #sidebar-wrapper {
    width: 250px;
    margin-left: -250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  .sidebar-nav {
    width: 350px;
  }
  .sidebar-nav > .sidebar-brand {
    display: list-item !important;
    visibility: visible !important;
  }
}


/* Page Content */

#content-wrapper {
  width: auto;
  margin-left: 30px;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #FFF;
}
#content-wrapper.toggled {
  width: 100%;
  margin-left: 0px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -200px;
}
@media (min-width:768px) {
  #content-wrapper {
    padding: 0px;
    margin-left: 0px !important;
  }
  #content-wrapper .container-fluid {
    margin-top: 20px;
  }
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 250px;
  }
}
p {
  font-size: 1.3rem;
  }
.panel {
  text-align: justify;
  height: 100%;
}
.center {
  text-align: center;
}
.social a {
  font-size: 3rem;
  text-align: center;
  }
.social a i {
  font-size: 10rem;
  text-align: center;
  }
  
.social {
  padding-bottom: 30px;
  }
#content-wrapper .button {
  margin: 2rem;
}
