/* Sidebar Styles */

#sidebar-wrapper {
  font-family: Ubuntu,Roboto,Arial,sans-serif;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  box-shadow: 0px 0px 3px #732C7B !important;
  .menuToggle {
    display: none;
    visibility: hidden;
    line-height: 3rem;
    height: 3rem;
  }
  ul {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none outside none;
    .sidebar-brand {
      height: 3.5rem;
      font-size: 2rem;
      line-height: 3rem;
      a {
        color: #732C7B;
        text-shadow: 0px 0px 3px #565656;
        &:hover {
          text-shadow: 1px 1px 3px #732C7B;
        }
      }
    }
    .toggle-menu {
      position: fixed;
      top: 0px;
      left: 0px;
      height: 40px;
      width: 40px;
      visibility: visible;
      display: block;
      text-indent: 10px;
      .fa-arrow-left {
        visibility: hidden;
        display: none;
      }
      span {
        text-align: left;
        float: left;
      }
    }
    li {
      text-indent: 1.5rem;
      height: 2rem;
      line-height: 2rem;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      a {
        display: block;
        text-decoration: none;
        color: #732C7B;
	      span {
          display: block;
          text-decoration: none;
          color: #732C7B;
          float: right;
          padding: 0;
          text-align: center;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 2rem;
          text-decoration: inherit;
          width: 2rem;
 	      }
      }
      &:hover {
        a {
        color: #732C7B;
        &:hover {
          background: rgba(255,255,255,0.1);
          }
        }
      }
    }
  }
}
#sidebar-wrapper.toggled {
  left: 0 !important;
  .toggle-menu {
    text-indent: 10px;
    left: 250px;
    line-height: 40px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  #menu-toggle {
    .fa-arrow-left {
      visibility: visible;
      display: block;
    }
    .fa-arrow-right {
      visibility: hidden;
      display: none;
    }
  }
  li {
    width: 300px;
  }
  .toggle-menu {
    width: 250px !important;
  }
}
@media (min-width:768px) {
  .toggle-menu {
    visibility: hidden !important;
    display: none !important;
  }
  #sidebar-wrapper {
    ul {
      .sidebar-brand {
      }
      .toggle-menu {
        visibility: hidden !important;
        display: none !important;
        span {
        }
      }
      li {
        a {
	        span {
            text-align: left;
            float: left;
   	      }
        }
      }
    }
  }
}
@media (max-width:768px) {
  #sidebar-wrapper {
    left: -220px;
    width: 250px;
    overflow: hidden;
    .fa-arrow-right.menuToggle {
      visibility: visible;
      display: block;
    }
    .fa-arrow-left.menuToggle {
      visibility: hidden;
      display: none;
    }
    ul {
      .sidebar-brand {
        height: 3rem;
        font-size: 1.5rem;
        line-height: 3rem;
      }
      .toggle-menu {
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1.5rem;
        visibility: visible;
        display: block;
        text-indent: 10px;
        .fa-arrow-left {
          visibility: hidden;
          display: none;
        }
        span {
        }
      }
      li {
        width: 250px;
        a {
	        span {
            line-height: 2rem;
            width: 3.5rem;
   	      }
        }
      }
    }
    &.toggled {
      ul {
        li {
          a {
            span {
              float: left !important;
              width: 2.25rem !important;
            }
          }
        }
      }
      .fa-arrow-left.menuToggle {
        visibility: visible;
        display: block;
      }
      .fa-arrow-right.menuToggle {
        visibility: hidden;
        display: none;
      }

    }
  }
}
.navigation-padding {
  height: 0.1rem;
}
.menuToggle {
  font-size: 1rem !important;
}
