.social-icons {
  position: fixed;
  bottom: 0.7rem;
  right: 1.2rem;
  font-size: 2rem;
  text-align: center;
  width: 2rem;
  a {
    width: 100%;
    text-align: center;
  }
}
.social-icons [class*='fa-'] {
  display: inline-block;
  text-align: center;
  
}
@media (max-width:767px) {
  .social-icons {
    position: fixed;
    bottom: 0.7rem;
    right: 1rem;
    font-size: 1.5rem;
    text-align: center;
    width: 1.5rem;
    a {
      width: 100%;
      text-align: center;
    }
  }
}
@media (min-width:767px) {
  .menu-social {
    visibility: hidden;
    display: none;
  }
}

