			<div id="secondary">
				<div class="header">
					<div class="logo">
						<h1 class="site-title">
							<a href="#" rel="home">
								COLUMN NAVIGATION
							</a>
						</h1>
						<h2 class="site-description">by ALXS</h2>
						<br>
					</div>
					<!-- End Logo -->
					<div id="site-nav">
						<div class="screen-reader-text skip-link">
							<a href="#content">Skip to content</a>
						</div>
						<div class="navigation-links">
							<dl data-accordion="" class="accordion">
								<a href="#">Example</a>          
								<dd class="nav">
									<a class="hasContent" href="#panel1">Naigation</a>
									<div id="panel1" class="content">
										<a href="#">With</a>              
										<a href="#">Dropdown</a>            
									</div>
								</dd>
								<%= link_to 'Download', 'https://github.com/tipsforthings/column-nav/archive/master.zip', :target => '_blank' %>
								<%= link_to 'Back to ALXS Design', portfolio_path %>
							</dl>
						</div>
					</div>
					<!-- End Site Nav -->
					<div class="header-bottom">
						<div id="header-bottom-shape" class="">
						</div>
					</div>
				</div>
			</div>

