<nav class="tab-bar">
  <section class="left-small">
    <a class="menu-icon" id="menu-toggle"><span></span></a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">ALXS Foundation Sidebar</h1>
  </section>

</nav>
